{% extends 'base.html' %}
{% block title %}
    InterviewPrepHub
{% endblock %}
{% block content %}
<div class="container">
    
   <form action="/subcategory" method="post">
        <div class="form-group">
            <label for="domainSelect">Domain:</label>
            <select id="domainSelect" name="domain" required class="form-control">
                <option value="">Select a domain</option>
                <option value="cs">Computer Science</option>
                <option value="ee">Electrical Engineering</option>
                <option value="me">Mechanical Engineering</option>
                <option value="ce">Civil Engineering</option>
            </select>
        </div>

        <div class="form-group">
            <label for="subcategorySelect">Subcategory:</label>
            <select id="subcategorySelect" name="subcategory" required class="form-control">
                <option value="">Select a subcategory</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
     
        
     
   
</div>

<script>
  // JavaScript code here
  var domainSelect = document.getElementById('domainSelect');
  var subcategorySelect = document.getElementById('subcategorySelect');

  domainSelect.addEventListener('change', function() {
      var selectedDomain = domainSelect.value;

      // Clear the previous options
      subcategorySelect.innerHTML = '<option value="">Select a subcategory</option>';

      // Add options based on the selected domain
      if (selectedDomain === 'cs') {
          addSubcategoryOption('Web Development');
          addSubcategoryOption('Android Development');
          addSubcategoryOption('Machine Learning and Artificial Intelligence');
          addSubcategoryOption('Blockchain Development');
          addSubcategoryOption('Data Structure');
      }
  });

  function addSubcategoryOption(subcategory) {
      var option = document.createElement('option');
      option.value = subcategory.toLowerCase().replace(/\s/g, '-');
      option.text = subcategory;
      subcategorySelect.appendChild(option);
  }

  
</script>
{% endblock %}
